@import './base/button';
@import './base/mixin';
@import './base/text';
@import './base/variable';

body{
    font-family: 'Futura New', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.container{
    max-width: 1760px;
    margin: 0 auto;
    position: relative;
}

@import './modules/header';
@import './modules/modelCity';
@import './modules/intro';
@import './modules/direction';
@import './modules/history';
@import './modules/statistics';
@import './modules/choice';
@import './modules/application';
@import './modules/contacts';
@import './modules/footer';